@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  overflow-x: hidden;
}

.perspective {
  perspective: 1500px;
}

.transform-style {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
